body{
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 50px;
}
h3{
    color: crimson;
}
.heading_color{
    color: chartreuse;
}
.flexible-container{
    display: flex;
    padding: 20px 5px;
}
.half_width{
    width:50%;
}
.half_width img{
    width:60%;
}
img{
    border-radius: 10%;
}
.anchor_link{
    text-decoration: none;
    background-image: linear-gradient(green,chartreuse);
    color: lemonchiffon;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
}